body {
	font-family:Arial;
	font-size:14px;
	color: #222;
}
a:link    {
  text-decoration:  none;
  color:            #222;
  } 
a:visited {
  text-decoration:  none;
  color:            #444;
  } 
a:hover   {
  text-decoration:  none;
  color:            #AA0000;
  } 
a:active  {
  text-decoration:  none;
  color:            #222;
  } 
